In [2]:
import numpy as np

In [16]:
apartment = np.array([59.50, 31.40, 19, 22, 60550, 2])
apartment

array([5.950e+01, 3.140e+01, 1.900e+01, 2.200e+01, 6.055e+04, 2.000e+00])

In [20]:
share_living_space = apartment[1]/apartment[0]
apartment = np.delete(apartment, [0,1])
apartment = np.append(apartment,share_living_space)
apartment

array([1.90000000e+01, 2.20000000e+01, 6.05500000e+04, 2.00000000e+00,
       5.27731092e-01])

In [23]:
round(apartment[-1], 2)

0.53

In [25]:
apartment.shape

(5,)

In [27]:
t = np.array([12, 14, 17, 19, 24, 28, 31, 31, 27, 22, 17, 13])
t[6]

31

In [29]:
a = np.array([10,8,5,1])
b = np.array([5,15,9,7])
print('sum ', a + b)
print('resid ', a - b)

sum  [15 23 14  8]
resid  [ 5 -7 -4 -6]

In [30]:
a = np.array([10,8,5,1])
b = np.array([5,15,9])
print('sum ', a + b)

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [32]:
a = np.array([120,150,90])
w = np.array([130,130,130])
t = np.array([2,3,2.5])
t*72 + w + a

array([394., 496., 400.])

In [33]:
x = np.array([4,5])
y = np.array([2,1])
u = np.array([1,0])
x*2 - 3*y + 5*u

array([7, 7])

In [34]:
made = np.array([3,4,5,9])
sold = np.array([1,5,3,6])
profit = sold*400 - made*200
profit

array([-200, 1200,  200,  600])

### скалярное произведение - сумма покоординатных произведений. дает число.

In [35]:
x = np.array([4,5,-1])
y = np.array([2,0,1])

np.dot(x,y)

7

In [40]:
import math
x = np.array([4,6,1])
math.sqrt(np.dot(x,x))

7.280109889280518

In [43]:
x = np.array([4,-1])
y = np.array([1,4])

np.dot(x,y)

0

In [60]:
import pandas as pd
Hut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})

Hut_Paradise_array = np.array(Hut_Paradise_DF)
Hut_Paradise_array[4]
Hut_Paradise_array[:,3]
Hut_Paradise_array[2,3]
len(Hut_Paradise_array[:,0])
Hut_Paradise_array[:,0].shape
Hut_Paradise_array[:,1] - Hut_Paradise_array[:,5]
Hut_Paradise_array[:,0]*0.4

demo_time = np.array([10,20,30,15,5,40,20,8,20])
Hut_Paradise_array[:,4]@demo_time

1348

In [74]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])
print('(u,v)', u@v)
print('(u,w)', u@w)
print('(v,w)', v@w)
(2*v - 3*w)@u
u_norm = np.linalg.norm(u)
u/u_norm
v_norm = np.linalg.norm(v)
v/v_norm
w_norm = np.linalg.norm(w)
w/w_norm

(u,v) 0
(u,w) 0
(v,w) 0

array([ 0.21320072, -0.85280287, -0.21320072,  0.        , -0.42640143])

In [77]:
A = np.matrix('1,-5;2,2;0,3')
A

matrix([[ 1, -5],
        [ 2,  2],
        [ 0,  3]])

In [78]:
A.T

matrix([[ 1,  2,  0],
        [-5,  2,  3]])

In [79]:
import numpy as np

Husband_Income = np.array([100,220,140])
Wife_Income = np.array([150,200,130])
Mother_In_Law_Income = np.array([90,80,100])

Husband_Сonsumption = np.array([50,50,60])
Wife_Сonsumption = np.array([100,80,140])
Mother_In_Law_Сonsumption = np.array([100,20,140])

In [86]:
Inc = np.array([Husband_Income, Wife_Income, Mother_In_Law_Income]).T
Inc

array([[100, 150,  90],
       [220, 200,  80],
       [140, 130, 100]])

In [87]:
Cons = np.array([Husband_Сonsumption, Wife_Сonsumption, Mother_In_Law_Сonsumption]).T
Cons

array([[ 50, 100, 100],
       [ 50,  80,  20],
       [ 60, 140, 140]])

In [89]:
Inc*.87-Cons

array([[ 37. ,  30.5, -21.7],
       [141.4,  94. ,  49.6],
       [ 61.8, -26.9, -53. ]])

In [92]:
A = np.matrix('1,2,1;4,4,4')
B = np.matrix('1,0,6;0,1,0;6,0,1')
C = np.dot(A,B)
C

matrix([[ 7,  2,  7],
        [28,  4, 28]])

In [98]:
A = np.matrix('1,2,1;1,-1,2')
B = np.matrix('1,1;2,-1;1,2')
C = np.dot(B,A)
C

matrix([[2, 1, 3],
        [1, 5, 0],
        [3, 0, 5]])