In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1867,tt0181536,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,6.9,2000
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001
987,tt1649419,42000000,180274123,Lo imposible,Naomi Watts|Ewan McGregor|Tom Holland|Samuel J...,Juan Antonio Bayona,Nothing is more powerful than the human spirit.,"In December 2004, close-knit family Maria (Nao...",113,Drama,Summit Entertainment|Telecinco Cinema|Apaches ...,9/9/2012,6.8,2012
1246,tt1321870,60000000,105200903,Gangster Squad,Sean Penn|Ryan Gosling|Emma Stone|Josh Brolin|...,Ruben Fleischer,No Names. No Badges. No Mercy.,"Los Angeles, 1949. Ruthless, Brooklyn-born mob...",113,Crime|Drama|Action|Thriller,Village Roadshow Pictures|Lin Pictures|Warner ...,1/10/2013,6.1,2013
962,tt0259288,60000000,52322400,Dragonfly,Kevin Costner|Joe Morton|Ron Rifkin|Susanna Th...,Tom Shadyac,When someone you love dies... are they gone fo...,A grieving doctor is being contacted by his la...,104,Drama,Universal Pictures|Spyglass Entertainment|Shad...,2/22/2002,6.2,2002

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
def explode_col(df, col, s):   #функция разбивает датафрейм на дополнительные строки...                                 
    buffer_df = df.copy()      #...по выбранной колонке значения в которой подобны списку.
    buffer_df[col] = buffer_df[col].str.split(s)
    return buffer_df.explode(col)

answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget'] #добавим колонку профит

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
sorted_data = data.sort_values(by='budget', ascending=False)
max_budget = sorted_data.iloc[0][['original_title','imdb_id']]
max_budget

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [9]:
longest = data[data.runtime == data.runtime.max()]
longest[['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
shortest = data[data.runtime == data.runtime.min()]
shortest[['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
mean_runtime = data.describe().loc['mean','runtime']
print(mean_runtime)
answers['4'] = mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
median_runtime = data.describe().loc['50%','runtime']
print(median_runtime)
answers['5'] = median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = max_profit.iloc[0]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
max_profit = data[data.profit == data.profit.min()]
answers['7'] = max_profit.iloc[0]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
movies_2008 = data.query('release_year == 2008')
max_cash_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
answers['9'] =  max_cash_2008.iloc[0]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
movies = data.query('2012 <= release_year <= 2014')
answers['10'] = movies.sort_values(by='profit').iloc[0]['original_title']
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres_list = [item.split('|') for item in data['genres']] #получим список жанров для каждого фильма (вложенный список)

genres_count = collections.Counter()
for movie in genres_list: #посчитаем уникальные значения
    for genre in movie:
        genres_count[genre] += 1 
        
most_common = genres_count.most_common(1)[0][0]
print(most_common) #выводим наиболее частый элемент
answers['11'] = most_common

Drama

#Второй вариант

In [25]:
exploded_df = explode_col(data, 'genres', '|')
grouped = exploded_df.groupby('genres')['original_title'].count().sort_values(ascending=False)
grouped.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
profitable = exploded_df.query('profit > 0')
profitable = explode_col(profitable, 'genres', '|')
grouped = profitable.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['12'] = grouped.index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
directors = data.groupby('director')['revenue'].sum().sort_values(ascending=False)
directors.index[0]
answers['13'] = directors.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
data_exploded = data
data_exploded['director'] = data_exploded['director'].str.split('|')
data_exploded = data_exploded.explode('director')
data_exploded.head(20)
#action_movies = data_exploded[data_exploded.genres.str.contains('Action')]
#directors_count = action_movies.groupby('director')['original_title'].count().sort_values(ascending=False)
#answers['14'] = directors_count.index[0]
#answers['14']
#+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)