In [83]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [84]:
data = pd.read_csv('movie_bd_v5.csv')

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
693,tt1000774,65000000,415252786,Sex and the City,Sarah Jessica Parker|Kim Cattrall|Cynthia Nixo...,Michael Patrick King,Get carried away.,A New York writer on sex and love is finally g...,145,Comedy|Drama|Romance,New Line Cinema|Darren Star Productions|Home B...,5/12/2008,6.1,2008
698,tt1014775,20000000,149281606,Beverly Hills Chihuahua,Drew Barrymore|Piper Perabo|Andy GarcÃ­a|Georg...,Raja Gosnell,50% Warrior. 50% Lover. 100% Chihuahua.,A pampered Beverly Hills chihuahua named Chloe...,91,Adventure|Comedy|Family,Walt Disney Pictures,10/3/2008,5.1,2008
77,tt1754656,64000000,97571250,The Little Prince,Jeff Bridges|Rachel McAdams|Paul Rudd|Marion C...,Mark Osborne,Growing up isn't the problem... forgetting is.,Based on the best-seller book 'The Little Prin...,92,Adventure|Animation|Fantasy,Onyx Films|Orange Studios|CityMation|On Entert...,7/29/2015,7.5,2015
687,tt0814022,45000000,42487390,Bangkok Dangerous,Nicolas Cage|Shahkrit Yamnarm|Charlie Yeung|Pa...,Oxide Pang Chun|Danny Pang,There's only one way out.,"When carrying out a hit, assassin Joe (Cage) a...",99,Action|Crime|Thriller,Virtual Studios|Initial Entertainment Group|Sa...,8/21/2008,5.0,2008
689,tt0831887,60000000,39031337,The Spirit,Gabriel Macht|Scarlett Johansson|Samuel L. Jac...,Frank Miller,I'm gonna kill you all kinds of dead.,Down these mean streets a man must come. A her...,103,Action|Comedy|Thriller|Crime|Science Fiction,DC Comics|Lionsgate|Odd Lot Entertainment|Medi...,12/25/2008,4.6,2008

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [86]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget'] #добавим колонку профит

#добавим колоки жанров отдельными элементами
genres_list = [item.split('|') for item in data['genres']]

genres_count = collections.Counter()
for movie in genres_list:
    for genre in movie:
        genres_count[genre] += 1 #посчитаем уникальные значения

        
genres_df = pd.DataFrame(columns=genres_count.keys())
genres_count.keys()
#data2 = pd.concat([data, genres_df], axis=1)
#data2

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [88]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [89]:
# можно добавлять разные варианты решения
sorted_data = data.sort_values(by='budget', ascending=False)
max_budget = sorted_data.iloc[0][['original_title','imdb_id']]
max_budget

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [90]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [91]:
longest = data[data.runtime == data.runtime.max()]
longest[['original_title','imdb_id','runtime']]
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [92]:
shortest = data[data.runtime == data.runtime.min()]
shortest[['original_title','imdb_id','runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

In [93]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [94]:
mean_runtime = data.describe().loc['mean']['runtime']
print(mean_runtime)
answers['4'] = mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [95]:
median_runtime = data.describe().loc['50%']['runtime']
print(median_runtime)
answers['5'] = median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [96]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = max_profit.iloc[0]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [97]:
max_profit = data[data.profit == data.profit.min()]
answers['7'] = max_profit.iloc[0]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [98]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [99]:
movies_2008 = data.query('release_year == 2008')
max_cash_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
answers['9'] =  max_cash_2008.iloc[0]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [100]:
movies = data.query('2012 <= release_year <= 2014')
answers['10'] = movies.sort_values(by='profit').iloc[0]['original_title']
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [101]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#data[data.str.contains()]

genres_list = [item.split('|') for item in data['genres']] #получим список жанров для каждого фильма (вложенный список)

genres_count = collections.Counter()
for movie in genres_list:
    for genre in movie:
        genres_count[genre] += 1 #посчитаем уникальные значения
        
most_common = genres_count.most_common(1)[0][0]
print(most_common) #выводим наиболее частый элемент
answers['11'] = most_common

NameError: name 'collections' is not defined

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
data_exploded = data
data_exploded['genres'] = data_exploded['genres'].str.split('|').explode('genres')
profitable = data_exploded.query('profit > 0')
profitable.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['12'] = profitable.index[0]
answers['12']

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [63]:
directors = data.groupby('director')['revenue'].sum().sort_values(ascending=False)
directors.index[0]
answers['13'] = directors.index[0]

TypeError: unhashable type: 'list'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
data_exploded = data
data_exploded['director'] = data_exploded['director'].str.split('|')
data_exploded = data_exploded.explode('director')
action_movies = data_exploded[data_exploded.genres.str.contains('Action')]
directors_count = action_movies.groupby('director')['original_title'].count().sort_values(ascending=False)
answers['14'] = directors_count.index[0]
answers['14']
#+

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)