In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections

In [71]:
data = pd.read_csv('movie_bd_v5.csv')

data.head(20)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,7.6,2015
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
10,tt2379713,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,6.2,2015
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
12,tt0470752,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,7.6,2015
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,5.8,2015
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
15,tt3460252,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,7.4,2015
16,tt2446042,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,6.1,2015
17,tt0478970,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,7.0,2015
18,tt1661199,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,6.8,2015
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,6.5,2015

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [72]:
def explode_col(df, col, s):   #функция разбивает датафрейм на дополнительные строки...                                 
    buffer_df = df.copy()      #...по выбранной колонке значения в которой подобны списку.
    buffer_df[col] = buffer_df[col].str.split(s)
    return buffer_df.explode(col)

answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget'] #добавим колонку профит

#add 'release_month' column
exploded_df = explode_col(data, 'release_date', '/').iloc[::3] #эксплодим колоку с датой выхода, и берем срез датафрейма по строкам 0,3,6... 
data['release_month'] = exploded_df['release_date']#.astype(int) #добавляем получившуюся колонку к исходному датафрейму 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  release_month         1889 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 236.2+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
sorted_data = data.sort_values(by='budget', ascending=False)
max_budget = sorted_data.iloc[0][['original_title','imdb_id']]
max_budget

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [9]:
longest = data[data.runtime == data.runtime.max()]
longest[['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
shortest = data[data.runtime == data.runtime.min()]
shortest[['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
mean_runtime = data.describe().loc['mean','runtime']
print(mean_runtime)
answers['4'] = mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
median_runtime = data.describe().loc['50%','runtime']
print(median_runtime)
answers['5'] = median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = max_profit.iloc[0]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
max_profit = data[data.profit == data.profit.min()]
answers['7'] = max_profit.iloc[0]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
movies_2008 = data.query('release_year == 2008')
max_cash_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
answers['9'] =  max_cash_2008.iloc[0]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
movies = data.query('2012 <= release_year <= 2014')
answers['10'] = movies.sort_values(by='profit').iloc[0]['original_title']
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres_list = [item.split('|') for item in data['genres']] #получим список жанров для каждого фильма (вложенный список)

genres_count = collections.Counter()
for movie in genres_list: #посчитаем уникальные значения
    for genre in movie:
        genres_count[genre] += 1 
        
most_common = genres_count.most_common(1)[0][0]
print(most_common) #выводим наиболее частый элемент
answers['11'] = most_common

Drama

#Второй вариант

In [25]:
exploded_df = explode_col(data, 'genres', '|')
grouped = exploded_df.groupby('genres')['original_title'].count().sort_values(ascending=False)
grouped.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
profitable = exploded_df.query('profit > 0')
profitable = explode_col(profitable, 'genres', '|')
grouped = profitable.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['12'] = grouped.index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [6]:
directors = data.groupby('director')['revenue'].sum().sort_values(ascending=False)
directors.index[0]
answers['13'] = directors.index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [13]:
exploded_df = explode_col(data, 'director','|')
filtered_df = exploded_df[exploded_df.genres.str.contains('Action')]
grouped_df = filtered_df.groupby('director')['original_title'].count().sort_values(ascending=False)
answers['14'] = grouped_df.index[0]
answers['14']
#+

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [57]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df.query('release_year == 2012')
grouped_df = filtered_df.groupby('cast')['revenue'].sum().sort_values(ascending=False)
answers['15'] = grouped_df.index[0]
answers['15']
#+

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df[exploded_df.budget > data.budget.mean()]
grouped_df = filtered_df.groupby('cast')['original_title'].count().sort_values(ascending=False)
answers['16'] = grouped_df.index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [35]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df[exploded_df.cast.str.contains('Nicolas Cage')]
exploded_df = explode_col(filtered_df, 'genres','|')
grouped_df = exploded_df.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['17'] = grouped_df.index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [36]:
exploded_df = explode_col(data, 'production_companies','|')
filtered_df = exploded_df[exploded_df.production_companies.str.contains('Paramount Pictures')]
answers['18'] = filtered_df[filtered_df['profit'] == filtered_df['profit'].min()].iloc[0]['original_title']
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
grouped_df = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
answers['19'] = grouped_df.index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
filtered_df = data[data.production_companies.str.contains('Warner Bros')]
exploded_df = explode_col(filtered_df, 'production_companies','|')
grouped_df = exploded_df.groupby('release_year')['profit'].sum().sort_values(ascending=False)
answers['20'] = grouped_df.index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [56]:
grouped_df = data.groupby('release_month')['original_title'].count().sort_values(ascending=False)
answers['21'] = grouped_df.index[0]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [74]:
filtered_df = data.query('release_month in ["6","7","8"]')
answers['22'] = len(filtered_df)
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [75]:
filtered_df = data.query('release_month in ["1","2","12"]')
exploded_df = explode_col(filtered_df, 'director','|')
grouped_df = exploded_df.groupby('director')['original_title'].count().sort_values(ascending=False)
answers['20'] = grouped_df.index[0]
answers['20']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
grouped_df = exploded_df.groupby('director')['original_title'].count().sort_values(ascending=False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)