In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections

In [46]:
data = pd.read_csv('movie_bd_v5.csv')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [48]:
def explode_col(df, col, s):   #функция разбивает датафрейм на дополнительные строки...                                 
    buffer_df = df.copy()      #...по выбранной колонке значения в которой подобны списку.
    buffer_df[col] = buffer_df[col].str.split(s)
    return buffer_df.explode(col)

answers = {} # создадим словарь для ответов

data['profit'] = data['revenue']-data['budget'] #добавим колонку профит

#add 'release_month' column
exploded_df = explode_col(data, 'release_date', '/').iloc[::3] #эксплодим колоку с датой выхода, и берем срез датафрейма по строкам 0,3,6... 
data['release_month'] = exploded_df['release_date']#.astype(int) #добавляем получившуюся колонку к исходному датафрейму 

#add 'title_length' column
data['title_length'] = data.original_title.str.len()


#add 'overview_word_count' column
data['overview_word_count'] = data.overview.str.split(' ').str.len()

data['cast_2'] = data['cast']

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_word_count,cast_2
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6,14,26,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5,18,110,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3,9,22,Shailene Woodley|Theo James|Kate Winslet|Ansel...
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12,28,26,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4,9,14,Vin Diesel|Paul Walker|Jason Statham|Michelle ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
sorted_data = data.sort_values(by='budget', ascending=False)
max_budget = sorted_data.iloc[0][['original_title','imdb_id']]
max_budget

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [9]:
longest = data[data.runtime == data.runtime.max()]
longest[['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
shortest = data[data.runtime == data.runtime.min()]
shortest[['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
mean_runtime = data.describe().loc['mean','runtime']
print(mean_runtime)
answers['4'] = mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
median_runtime = data.describe().loc['50%','runtime']
print(median_runtime)
answers['5'] = median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = max_profit.iloc[0]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
max_profit = data[data.profit == data.profit.min()]
answers['7'] = max_profit.iloc[0]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
movies_2008 = data.query('release_year == 2008')
max_cash_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
answers['9'] =  max_cash_2008.iloc[0]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
movies = data.query('2012 <= release_year <= 2014')
answers['10'] = movies.sort_values(by='profit').iloc[0]['original_title']
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres_list = [item.split('|') for item in data['genres']] #получим список жанров для каждого фильма (вложенный список)

genres_count = collections.Counter()
for movie in genres_list: #посчитаем уникальные значения
    for genre in movie:
        genres_count[genre] += 1 
        
most_common = genres_count.most_common(1)[0][0]
print(most_common) #выводим наиболее частый элемент
answers['11'] = most_common

Drama

#Второй вариант

In [25]:
exploded_df = explode_col(data, 'genres', '|')
grouped = exploded_df.groupby('genres')['original_title'].count().sort_values(ascending=False)
grouped.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
profitable = exploded_df.query('profit > 0')
profitable = explode_col(profitable, 'genres', '|')
grouped = profitable.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['12'] = grouped.index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [6]:
directors = data.groupby('director')['revenue'].sum().sort_values(ascending=False)
directors.index[0]
answers['13'] = directors.index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [13]:
exploded_df = explode_col(data, 'director','|')
filtered_df = exploded_df[exploded_df.genres.str.contains('Action')]
grouped_df = filtered_df.groupby('director')['original_title'].count().sort_values(ascending=False)
answers['14'] = grouped_df.index[0]
answers['14']
#+

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [57]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df.query('release_year == 2012')
grouped_df = filtered_df.groupby('cast')['revenue'].sum().sort_values(ascending=False)
answers['15'] = grouped_df.index[0]
answers['15']
#+

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df[exploded_df.budget > data.budget.mean()]
grouped_df = filtered_df.groupby('cast')['original_title'].count().sort_values(ascending=False)
answers['16'] = grouped_df.index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [35]:
exploded_df = explode_col(data, 'cast','|')
filtered_df = exploded_df[exploded_df.cast.str.contains('Nicolas Cage')]
exploded_df = explode_col(filtered_df, 'genres','|')
grouped_df = exploded_df.groupby('genres')['original_title'].count().sort_values(ascending=False)
answers['17'] = grouped_df.index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [36]:
exploded_df = explode_col(data, 'production_companies','|')
filtered_df = exploded_df[exploded_df.production_companies.str.contains('Paramount Pictures')]
answers['18'] = filtered_df[filtered_df['profit'] == filtered_df['profit'].min()].iloc[0]['original_title']
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
grouped_df = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
answers['19'] = grouped_df.index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
filtered_df = data[data.production_companies.str.contains('Warner Bros')]
exploded_df = explode_col(filtered_df, 'production_companies','|')
grouped_df = exploded_df.groupby('release_year')['profit'].sum().sort_values(ascending=False)
answers['20'] = grouped_df.index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [56]:
grouped_df = data.groupby('release_month')['original_title'].count().sort_values(ascending=False)
answers['21'] = grouped_df.index[0]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [74]:
filtered_df = data.query('release_month in ["6","7","8"]')
answers['22'] = len(filtered_df)
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [75]:
filtered_df = data.query('release_month in ["1","2","12"]')
exploded_df = explode_col(filtered_df, 'director','|')
grouped_df = exploded_df.groupby('director')['original_title'].count().sort_values(ascending=False)
answers['23'] = grouped_df.index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [9]:
exploded_df = explode_col(data, 'production_companies','|')
grouped_df = exploded_df.groupby('production_companies')['title_length'].mean().sort_values(ascending=False)
answers['24'] = grouped_df.index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [24]:
exploded_df = explode_col(data, 'production_companies','|')
grouped_df = exploded_df.groupby('production_companies')['overview_word_count'].mean().sort_values(ascending=False)
answers['25'] = grouped_df.index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [55]:
vote_distr = data['vote_average'].value_counts(bins=100)
interval = vote_distr.index.max()
interval
#percentile_1 = data.query(interval.left '< vote_average <=' interval.right)
percentile_1 = data[data['vote_average'].between(interval.left, interval.right)]
percentile_1

Interval(8.052, 8.1, closed='right')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
exploded_df = explode_col(data, 'cast','|')
exploded_df = explode_col(exploded_df, 'cast_2','|')
exploded_df
pivot = exploded_df.pivot_table(values=['original_title'],
index=['cast'],
columns=['cast_2'],
aggfunc='count',
fill_value=0
)

i = 0
for col in pivot:
    pivot.iloc[i][i] = 0
    i +=1

pivot.max().sort_values(ascending=False)

                cast_2
original_title  Rupert Grint        8
                Daniel Radcliffe    8
                Emma Watson         8
                Johnny Depp         6
                Owen Wilson         6
                                   ..
                Marsha Thomason     1
                Marny Eng           1
                Marlon Brando       1
                Marley Shelton      1
                50 Cent             1
Length: 3406, dtype: int64

ВАРИАНТ 2

In [393]:
pvt = pivot['original_title'].copy()
i = 0
for col in pvt:
    pvt.iloc[i][i] = 0
    i +=1

pvt.sort_values(ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)