In [122]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [123]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1781,tt0841046,35000000,18317151,Walk Hard: The Dewey Cox Story,John C. Reilly|Jenna Fischer|Tim Meadows|Krist...,Jake Kasdan,Life made him tough. Love made him strong. Mus...,Singer Dewey Cox overcomes adversity to become...,96,Comedy|Music,Columbia Pictures Corporation|Apatow Productions,12/21/2007,6.5,2007
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,6.4,2006
1785,tt0368794,20000000,4001121,I'm Not There.,Cate Blanchett|Heath Ledger|Julianne Moore|Ben...,Todd Haynes,All I Can Do Is Be Me Whoever That Is,Six actors portray six personas of music legen...,135,Drama|Music,Endgame Entertainment|Rising Star|Killer Films...,10/1/2007,6.5,2007
1234,tt2364841,30000000,62616646,Runner Runner,Ben Affleck|Gemma Arterton|Justin Timberlake|A...,Brad Furman,The house always wins.,When a poor college student who cracks an onli...,91,Crime|Thriller|Drama,20th Century Fox|Double Feature Films|Appian W...,9/24/2013,5.5,2013
1420,tt0421239,26000000,57891803,Red Eye,Rachel McAdams|Cillian Murphy|Brian Cox|Jayma ...,Wes Craven,Fear takes flight.,After attending the funeral of her grandmother...,85,Horror|Thriller,DreamWorks SKG|Craven-Maddalena Films|BenderSpink,8/4/2005,6.1,2005

In [124]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [125]:
answers = {} # создадим словарь для ответов

data.info()
data['profit'] = data['revenue']-data['budget']
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [126]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [127]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
max_budget[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [128]:
# можно добавлять разные варианты решения
sorted_data = data.sort_values(by='budget', ascending=False)
max_budget = sorted_data.iloc[0][['original_title','imdb_id']]
max_budget

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [129]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [130]:
longest = data[data.runtime == data.runtime.max()]
longest[['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [131]:
shortest = data[data.runtime == data.runtime.min()]
shortest[['original_title','imdb_id','runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

In [132]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [133]:
mean_runtime = data.describe().loc['mean']['runtime']
print(mean_runtime)
answers['4'] = mean_runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [134]:
median_runtime = data.describe().loc['50%']['runtime']
print(median_runtime)
answers['5'] = median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [141]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = max_profit.iloc[0]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [142]:
max_profit = data[data.profit == data.profit.min()]
answers['7'] = max_profit.iloc[0]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [137]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [138]:
movies_2008 = data.query('release_year == 2008')
max_cash_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
answers['9'] =  max_cash_2008.iloc[0]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [139]:
movies = data.query('2012 <= release_year <= 2014')
answers['10'] = movies.sort_values(by='profit').iloc[0]['original_title']
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data[data.str.contains()]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [143]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)