In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
cities = pd.read_excel('Cities.xls')  
df = pd.read_csv('main_task_new.csv')
df.columns = ['id','city','style','city_rank','rating','price','num_of_reviews','reviews','url_ta','id_ta']

In [3]:
df = pd.merge(df, cities, on='city')
df

,id,city,style,city_rank,rating,price,num_of_reviews,reviews,url_ta,id_ta,gdp,country,population
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,46062,France,2161
1,id_10057,Paris,NaN,10059.0,4.5,NaN,4.0,"[['Fab Food'], ['08/20/2011']]",/Restaurant_Review-g187147-d2040769-Reviews-Le...,d2040769,46062,France,2161
2,id_11291,Paris,['French'],11293.0,4.5,$$ - $$$,10.0,[['A relaxing dinner in a very personal atmos....,/Restaurant_Review-g187147-d3543081-Reviews-La...,d3543081,46062,France,2161
3,id_5459,Paris,"['Asian', 'Thai', 'Vegetarian Friendly']",5460.0,3.5,$$ - $$$,132.0,[['Very good Thai Food but small Portions and....,/Restaurant_Review-g187147-d953033-Reviews-Cha...,d953033,46062,France,2161
4,id_9924,Paris,['Pub'],9926.0,3.5,$,39.0,"[['English pub', 'Shameful'], ['02/14/2017', '...",/Restaurant_Review-g187147-d5799345-Reviews-Th...,d5799345,46062,France,2161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_651,Krakow,"['Italian', 'Pizza']",652.0,4.0,$$ - $$$,28.0,"[['Warm and welcoming', 'Cozy, good food'], ['...",/Restaurant_Review-g274772-d3626236-Reviews-Tr...,d3626236,34103,Poland,767
39996,id_355,Krakow,"['Italian', 'Mediterranean', 'Vegetarian Frien...",356.0,4.0,$$ - $$$,201.0,"[['Nice meal', 'Excellent food'], ['11/12/2017...",/Restaurant_Review-g274772-d1929643-Reviews-La...,d1929643,34103,Poland,767
39997,id_283,Krakow,"['Italian', 'Pizza', 'European', 'Vegetarian F...",284.0,4.0,$$ - $$$,340.0,"[['Good food and friendly service', 'Nice, fri...",/Restaurant_Review-g274772-d1098691-Reviews-Fa...,d1098691,34103,Poland,767
39998,id_800,Krakow,NaN,801.0,4.5,NaN,11.0,"[['Great snacks', ""You won't be disappointed""]...",/Restaurant_Review-g274772-d3899509-Reviews-Pi...,d3899509,34103,Poland,767
39999,id_953,Krakow,NaN,954.0,3.5,NaN,11.0,"[['Yummy', 'Very disorganized'], ['12/23/2017'...",/Restaurant_Review-g274772-d10810513-Reviews-R...,d10810513,34103,Poland,767

In [4]:
df = pd.DataFrame([['NaN', 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

In [8]:
for x in df:
    print(df[x])

0    NaN
1      3
2    NaN
3    NaN
Name: A, dtype: object
0    2.0
1    4.0
2    NaN
3    3.0
Name: B, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
Name: C, dtype: float64
0    0
1    1
2    5
3    4
Name: D, dtype: int64

In [25]:
for index, row in df.iterrows():
    print(row)

A    NaN
B      2
C    NaN
D      0
Name: 0, dtype: object
A      3
B      4
C    NaN
D      1
Name: 1, dtype: object
A    NaN
B    NaN
C    NaN
D      5
Name: 2, dtype: object
A    NaN
B      3
C    NaN
D      4
Name: 3, dtype: object

In [5]:
gen = (i for i in df.A.index if np.isnan(df.A[i]))

In [6]:
df.loc[4]['C']

KeyError: 4

In [55]:
for i in gen:
    print(i)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [7]:
def cuisine_number(string):
    if pd.isnull(string):
        return 3
    else:
        return len(re.findall(r"\'[\w+\s*]+\'",str(string)))

In [8]:
string = "['Bar', 'Pub']"
cuisine_number(string)

2

In [9]:
with open('readme.txt', 'w') as f:
    f.write('readme')