In [201]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from collections import Counter
import datetime
import re
import seaborn as sns

### 1. Функции обработки датасета

In [202]:
#функция замены ценовой категории на цифру
def replace_price_tag(tag):
    return price_dict[tag]

#функция заменяет NaN-значения в количестве отзыов на 0 или один (оптимизировать,)
def nan_review_attribution(df, na_col, rev_col):    
    gen = (i for i in df[na_col].index if np.isnan(df[na_col][i]))
    for i in gen:
        df.at[i, na_col] = len(re.findall(r"\d+\/\d+\/\d+", df[rev_col][i]))
    return df[na_col]


#функция возвращает список дат (в типе datetime) последних отзывов
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date))
        return date_list
    else:
        return None
    
#возвращает количество стилей кухни
def cuisine_number(string):
    if pd.isnull(string):
        return 3
    else:
        return len(re.findall(r"\w+\s*\w+\s*\w+\s*\w+\s*\w+\s*",str(string)))
    
#возвращает даты последних отзывов
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date).date())
        return date_list
    else:
        return None

#возвращает время в днях между последними двумя отзывами
def date_delta(lst):
    if lst:
        return abs(lst[0]-lst[-1]).days
    else:
        return 0

### 2. Открываем датасет

In [203]:
df = pd.read_csv('main_task_new.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

#### 2.1 Предобработка датасета

In [204]:
df.columns = ['id','city','style','city_rank','rating','price','num_of_reviews','reviews','url_ta','id_ta']

In [205]:
#cities = df.city.value_counts()
#cities.to_excel('Cities.xls')

In [206]:
#заменяем нан в количестве отзывов на ноль или 1

df['num_of_reviews'] = nan_review_attribution(df, 'num_of_reviews','reviews')

#### заменяем текстовую ценовую категорию на числовую

In [207]:
#ранжируем ценовую категорию, нан заменяем на самый частый случай (потом можно еще будет подумать. 
# Вообще можно будет ее получить из города типа кухни и другиз факторов через модель)
keys = df.price.unique()
values = [2.5, 1, 5, 1]
price_dict = {keys[i]: values[i] for i in range(len(keys))}
price_dict

{'$$ - $$$': 2.5, nan: 1, '$$$$': 5, '$': 1}

In [208]:

df.price = df.price.apply(replace_price_tag)

#### Работаем со стилями кухни. Разбиваем на массив и создаем колонку с количеством представленных кухонь. NaN заменяем на среднее

In [209]:
df['num_of_cuisines'] = df['style'].apply(cuisine_number)

### работаем с датами

In [210]:
df['review_dates'] = df['reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))
df['review_dates'] = df['review_dates'].apply(review_dates)
#на выходе массив дат в datetime формате

In [211]:


df['time_delta'] = df['review_dates'].apply(date_delta)


#year = datetime.timedelta(days=365)
#df['review_deltas'] = df['review_dates'].apply(date_delta)
#len(df[df.time_delta > year])

### добавляем данные по ВВП на душу населения

In [212]:
cities = pd.read_excel('Cities.xls')
df = pd.merge(df, cities, on='city')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               40000 non-null  object
 1   city             40000 non-null  object
 2   style            30717 non-null  object
 3   city_rank        40000 non-null  float64
 4   rating           40000 non-null  float64
 5   price            40000 non-null  float64
 6   num_of_reviews   40000 non-null  float64
 7   reviews          40000 non-null  object
 8   url_ta           40000 non-null  object
 9   id_ta            40000 non-null  object
 10  num_of_cuisines  40000 non-null  int64
 11  review_dates     33529 non-null  object
 12  time_delta       33529 non-null  float64
 13  gdp              40000 non-null  int64
 14  country          40000 non-null  object
dtypes: float64(5), int64(2), object(8)
memory usage: 4.9+ MB

### добавим dummy переменную по городам

In [213]:
#добавим dummy переменную по городам
dummy = pd.get_dummies(df.city)
df.drop(columns='city', inplace=True)
df = pd.concat([df, dummy], axis=1)

In [214]:
df = df.select_dtypes(exclude='object')

In [215]:
df.to_csv('5&dummies.csv', index=False)