In [344]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from collections import Counter
import datetime
import re
import seaborn as sns

### 1. Функции обработки датасета

In [345]:
#функция замены ценовой категории на цифру
def replace_price_tag(tag):
    return price_dict[tag]

#функция заменяет NaN-значения в количестве отзыов на 0 или один (оптимизировать,)
def nan_review_attribution(df, na_col, rev_col):    
    gen = (i for i in df[na_col].index if np.isnan(df[na_col][i]))
    for i in gen:
        df.at[i, na_col] = len(re.findall(r"\d+\/\d+\/\d+", df[rev_col][i]))
    return df[na_col]


#функция возвращает список дат (в типе datetime) последних отзывов
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date))
        return date_list
    else:
        return None
    
#возвращает количество стилей кухни
def cuisine_number(string):
    if pd.isnull(string):
        return 3
    else:
        return len(re.findall(r"\w+\s*\w+\s*\w+\s*\w+\s*\w+\s*",str(string)))
    
#возвращает даты последних отзывов
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date).date())
        return date_list
    else:
        return None

### 2. Открываем датасет

In [346]:
df = pd.read_csv('main_task_new.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

#### 2.1 Предобработка датасета

In [347]:
df.columns = ['id','city','style','city_rank','rating','price','num_of_reviews','reviews','url_ta','id_ta']

In [348]:
#заменяем нан в количестве отзывов на ноль или 1

df['num_of_reviews'] = nan_review_attribution(df, 'num_of_reviews','reviews')

#### заменяем текстовую ценовую категорию на числовую

In [349]:
#ранжируем ценовую категорию, нан заменяем на самый частый случай (потом можно еще будет подумать. 
# Вообще можно будет ее получить из города типа кухни и другиз факторов через модель)
keys = df.price.unique()
values = [2.5, 1, 5, 1]
price_dict = {keys[i]: values[i] for i in range(len(keys))}
price_dict

{'$$ - $$$': 2.5, nan: 1, '$$$$': 5, '$': 1}

In [350]:

df.price = df.price.apply(replace_price_tag)

#### Работаем со стилями кухни. Разбиваем на массив и создаем колонку с количеством представленных кухонь. NaN заменяем на среднее

In [351]:
df['num_of_cuisines'] = df['style'].apply(cuisine_number)

### работаем с датами

In [352]:
df['review_dates'] = df['reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))
df['review_dates'] = df['review_dates'].apply(review_dates)
#на выходе массив дат в datetime формате

In [353]:
def date_delta(lst):
    if lst:
        return abs(lst[0]-lst[-1]).days
    else:
        return 0

df['time_delta'] = df['review_dates'].apply(date_delta)


#year = datetime.timedelta(days=365)
#df['review_deltas'] = df['review_dates'].apply(date_delta)
#len(df[df['review_deltas'] > year])

### добавим dummy переменную по городам

In [354]:
#добавим dummy переменную по городам
dummy = pd.get_dummies(df.city)
df.drop(columns='city', inplace=True)
df = pd.concat([df, dummy], axis=1)

In [355]:
df = df.select_dtypes(exclude='object')

In [356]:
df.to_csv('5&dummies.csv', index=False)

# дальше мусор

In [96]:
cuisine_counter = Counter()
for item in df['style']:
    for element in item:
        cuisine_counter[element] += 1

In [ ]:
# смотрим на отзывы ресотранов с НаН числом оизывов. Это один или ноль отзывов.
test = df[df['Number of Reviews'].isna()].copy()
test['review_dates'] = test['Reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))
test['review_dates'].apply(lambda x: len(x)).value_counts()

#gen = (i for rev_num in na_col if na_col.iloc[i].isna())

In [11]:
test['review_dates'] = test['Reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))
test['review_dates'] = test['review_dates'].apply(review_dates)
test['review_dates']

<ipython-input-11-b051182c8e4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['review_dates'] = test['Reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))

NameError: name 'review_dates' is not defined

In [39]:
df.dropna(axis=0, subset=['review_dates'], inplace=True)
#df['review_dates'].iloc[0][0]-df['review_dates'].iloc[0][1]
df['buffer'] = df['review_dates'].apply(lambda x: len(x))
df[df['buffer'] == 3]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,review_dates,buffer
9254,id_12965,London,"[Cafe, French]",12975.0,3.5,$$ - $$$,31.0,"[['The desserts arcade !', 'Visit today 3/1/20...",/Restaurant_Review-g186338-d1017372-Reviews-Ma...,d1017372,"[2017-03-01 00:00:00, 2017-06-02 00:00:00, 201...",3
23348,id_450,Geneva,"[French, European]",453.0,4.0,$$ - $$$,48.0,"[['lunch 29/9/2016', 'Unplanned Great Dinner']...",/Restaurant_Review-g188057-d2706773-Reviews-Le...,d2706773,"[2016-09-29 00:00:00, 2016-09-30 00:00:00, 201...",3

In [ ]:
df['review_dates'] = df['review_dates'].apply(review_dates)

In [ ]:
df['review_dates'].info()