In [62]:
import pandas as pd
import matplotlib.pyplot as plt
import math
from collections import Counter
import datetime
import re

In [63]:
df = pd.read_csv('main_task_new.csv')

In [64]:
#ранжируем ценовую категорию, нан замен\ем на самый частый случай
keys = df['Price Range'].unique()
values = [2, 1, 3, 1]
price_dict = {keys[i]: values[i] for i in range(len(keys))}
price_dict

{'$$ - $$$': 2, nan: 1, '$$$$': 3, '$': 1}

In [65]:
def replace_price_tag(tag):
    return price_dict[tag]
df['Price Range'] = df['Price Range'].apply(replace_price_tag)

In [66]:
#df = df.select_dtypes(exclude='object')
#df.columns = ['ranking', 'rating','num_of_reviews']
df.info()
x=str(['filler'])
df['Cuisine Style'].fillna(x, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        40000 non-null  int64
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.1+ MB

In [67]:
#добавим dummy переменную по городам
dummy = pd.get_dummies(df['City'])
result = pd.concat([df, dummy], axis=1)
result

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,...,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,2,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,...,0,0,0,1,0,0,0,0,0,0
1,id_1535,Stockholm,['filler'],1537.0,4.0,1,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,...,0,0,0,0,0,0,1,0,0,0
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,3,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,Berlin,['filler'],3458.0,5.0,1,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,...,0,0,0,0,0,0,0,0,0,0
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,2,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,2,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,...,0,0,0,0,0,0,0,0,0,0
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,2,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,...,0,0,0,1,0,0,0,0,0,0
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,1,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,...,0,0,0,0,0,0,1,0,0,0
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,2,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,...,0,0,0,0,0,0,0,0,1,0
39999,id_4824,Milan,['Spanish'],4827.0,3.0,2,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,...,0,0,0,0,0,0,0,0,0,0

In [23]:

df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: re.findall(r"\w+\s*\w+\s*\w+\s*\w+\s*",x))
#r'\W+'

In [24]:
cuisine_counter = Counter()
for item in df['Cuisine Style']:
    for element in item:
        cuisine_counter[element] += 1

In [25]:
df['review_dates'] = df['Reviews'].apply(lambda x: re.findall(r"\d+\/\d+\/\d+",x))

In [31]:
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date))
        return date_list
    else:
        return None
    
df['review_dates'] = df['review_dates'].apply(review_dates)
df['review_dates']

0        [2017-12-31 00:00:00, 2017-11-20 00:00:00]
1        [2017-07-06 00:00:00, 2016-06-19 00:00:00]
2        [2018-01-08 00:00:00, 2018-01-06 00:00:00]
4        [2017-11-18 00:00:00, 2017-02-19 00:00:00]
5        [2017-09-16 00:00:00, 2017-05-31 00:00:00]
                            ...
39995    [2017-12-16 00:00:00, 2017-11-12 00:00:00]
39996    [2017-12-21 00:00:00, 2017-12-12 00:00:00]
39997    [2016-11-03 00:00:00, 2008-04-12 00:00:00]
39998    [2017-07-11 00:00:00, 2017-06-18 00:00:00]
39999    [2016-01-31 00:00:00, 2012-07-04 00:00:00]
Name: review_dates, Length: 33529, dtype: object

In [39]:
df.dropna(axis=0, subset=['review_dates'], inplace=True)
#df['review_dates'].iloc[0][0]-df['review_dates'].iloc[0][1]
df['buffer'] = df['review_dates'].apply(lambda x: len(x))
df[df['buffer'] == 3]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,review_dates,buffer
9254,id_12965,London,"[Cafe, French]",12975.0,3.5,$$ - $$$,31.0,"[['The desserts arcade !', 'Visit today 3/1/20...",/Restaurant_Review-g186338-d1017372-Reviews-Ma...,d1017372,"[2017-03-01 00:00:00, 2017-06-02 00:00:00, 201...",3
23348,id_450,Geneva,"[French, European]",453.0,4.0,$$ - $$$,48.0,"[['lunch 29/9/2016', 'Unplanned Great Dinner']...",/Restaurant_Review-g188057-d2706773-Reviews-Le...,d2706773,"[2016-09-29 00:00:00, 2016-09-30 00:00:00, 201...",3

In [47]:
def date_delta(lst):
    return abs(lst[0]-lst[-1])
year = datetime.timedelta(days=365)
df['review_deltas'] = df['review_dates'].apply(date_delta)
len(df[df['review_deltas'] > year])

2663

In [ ]:
def review_dates(lst):
    date_list =[]
    if len(lst):
        for date in lst:
            date_list.append(pd.to_datetime(date).date())
        return date_list
    else:
        return None

In [ ]:
df['review_dates'] = df['review_dates'].apply(review_dates)

In [ ]:
df['review_dates'].info()