# Загрузка Pandas и очистка данных

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv('5&dummies.csv')

In [67]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

In [68]:
df

,city_rank,rating,price,num_of_reviews,num_of_cuisines,time_delta,Amsterdam,Athens,Barcelona,Berlin,...,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
0,5570.0,3.5,2.5,194.0,3,41,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1537.0,4.0,1.0,10.0,3,382,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,353.0,4.5,5.0,688.0,7,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3458.0,5.0,1.0,3.0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,621.0,4.0,2.5,84.0,3,272,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,500.0,4.5,2.5,79.0,4,34,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39996,6341.0,3.5,2.5,542.0,4,9,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39997,1652.0,4.5,1.0,4.0,2,3127,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
39998,641.0,4.0,2.5,70.0,5,23,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39999,4827.0,3.0,2.5,260.0,1,1306,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [69]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['rating','price','num_of_cuisines'], axis = 1)
y = df['rating']

In [70]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [71]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [72]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [73]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [74]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.303417