In [19]:
import os
import pandas as pd

files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [18]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = [file for file in files if '.txt' in file ]
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [4]:
l = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in l]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [23]:
for root, folders, files in os.walk('data'):
    print(root, folders, files)

os.walk('data')

data [] ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']

In [20]:
data = pd.DataFrame(columns=['userId', 'movieId', 'rating', 'timestamp'])
files = os.listdir('data')
for file in files:
    temp = pd.read_csv(os.path.join('data', file), names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data, temp])
data

     userId movieId  rating   timestamp
0         1      31     2.5  1260759144
1         1    1029     3.0  1260759179
2         1    1061     3.0  1260759182
3         1    1129     2.0  1260759185
4         1    1172     4.0  1260759205
...     ...     ...     ...         ...
9995    597    2572     3.0   940707828
9996    597    2613     3.0   940707355
9997    597    2657     4.0   940707124
9998    597    2661     4.0   940707609
9999    597    2662     3.0   940707473

[100004 rows x 4 columns]