In [3]:
import pandas as pd

data_file = pd.read_csv('c:/Users/SVasilchenko/SkillFactory/module_1/data_sf.csv')

x= len(data_file['Club'].value_counts())

In [5]:
max_club = data_file['Club'].value_counts()
print(max_club)

Shonan Bellmare      30
V-Varen Nagasaki     30
De Graafschap        29
Padova               29
FC Emmen             29
                     ..
Cruzeiro              8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [6]:
x = data_file['Position'].value_counts(normalize=True)
print(x)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [7]:
small_df = data_file[data_file.columns[1:8]].head(25)
s = small_df['Wage'].value_counts(bins=4)
display(s)


small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [8]:
s.index[3].left

447250.0

In [9]:
x = data_file['FKAccuracy'].value_counts(bins=5)
x

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [10]:
s = data_file['Nationality'].value_counts().reset_index()
s.columns = ['Nationality', 'Players']
display(s)

     Nationality  Players
0        England     1368
1        Germany      919
2          Spain      671
3         France      614
4      Argentina      574
..           ...      ...
151    Mauritius        1
152      Bermuda        1
153       Jordan        1
154  Philippines        1
155        Qatar        1

[156 rows x 2 columns]

In [11]:
spanish = data_file[data_file.Nationality == 'Spain']
x = spanish['Wage'].value_counts(normalize=True,bins=4)
x

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [12]:
manchester_players = data_file[data_file.Club == 'Manchester United']
manchester_players['Nationality'].nunique()

13

In [13]:
brasilians = data_file[(data_file.Club == 'Juventus') & (data_file.Nationality == 'Brazil')]
brasilians['Name'].unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [14]:
old_players = data_file[data_file.Age > 35]
old_players['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Morecambe                     3
San Martín de San Juan        3
Club Atlético Colón           3
                             ..
Trelleborgs FF                1
Bournemouth                   1
Sassuolo                      1
Colorado Rapids               1
Houston Dynamo                1
Name: Club, Length: 212, dtype: int64

In [15]:
argent = data_file[data_file.Nationality == 'Argentina']
argent['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [16]:
spanish = data_file[data_file['Nationality'] == 'Spain']
spanish['Age'].value_counts(normalize=True, bins=10)

(20.6, 22.9]      0.213115
(22.9, 25.2]      0.195231
(18.3, 20.6]      0.125186
(25.2, 27.5]      0.116244
(29.8, 32.1]      0.104322
(27.5, 29.8]      0.101341
(15.976, 18.3]    0.055142
(32.1, 34.4]      0.053651
(34.4, 36.7]      0.022355
(36.7, 39.0]      0.013413
Name: Age, dtype: float64

In [17]:
grouped_df = data_file.groupby('Position')['Wage'].sum()
display(grouped_df.sort_values(ascending=False))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [18]:
grouped_df = data_file.groupby('Position')[['Wage','Value']].mean()
display(grouped_df.sort_values('Value', ascending=False))

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

data_file.groupby('Club')['Wage'].agg(['mean','median'])

In [19]:
x = data_file.groupby('Club')['Wage'].agg(['mean','median'])
y = x[x['median'] == x['mean']]
len(y)
y.max()
z = y[y['mean'] == y['mean'].max()]
z

             mean  median
Club
Cruzeiro  13000.0   13000

In [72]:
x = data_file.groupby('Club')['Wage'].sum()
type(x)
display(x['Chelsea'])

2035000

In [66]:
x = data_file[(data_file.Nationality == 'Argentina')]

y = x.groupby('Age')['Wage'].max()[30]
display(y)

300000

In [43]:
x = data_file[(data_file.Nationality == 'Argentina')]
x.groupby('Age')['Wage'].min()[30]

1000

In [14]:
x = data_file[data_file.Club == 'FC Barcelona']
y = x.groupby('Nationality')[['Strength','Balance']].max()
y.loc['Argentina']

Strength    59
Balance     95
Name: Argentina, dtype: int64

In [16]:
pivot = data_file.loc[data_file['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [34]:
pivot2 = data_file.pivot_table(
columns='Position',
index='Club',
values='Wage',
aggfunc='max'
)
pivot2.loc['Manchester City']['GK']

125000.0

In [53]:
pivot3 = data_file.loc[data_file['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(
values='Name',
index='Nationality',
columns='Club',
aggfunc='count',
margins=True,
fill_value=0
)
pivot3.loc['Argentina']

Club
FC Barcelona         1
Juventus             1
Manchester United    2
Real Madrid          0
All                  4
Name: Argentina, dtype: int64

In [45]:
#Вывод зависит от того в скобках параметры или нет, нужно задать вопрос почему так и чем отличабтся функции

In [49]:
pivot = data_file.loc[data_file['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0
)
pivot.loc['Argentina']['Name']['Manchester United']

2

In [66]:
df = pd.read_csv('c:/Users/SVasilchenko/SkillFactory/module_1/data_sf.csv')

pivot = df.pivot_table(values="Name",
                      index='Club',
                      columns='Position',
                      aggfunc='count',
                      fill_value=0)
pivot['GK']

Club
 SSV Jahn Regensburg     3
1. FC Heidenheim 1846    2
1. FC Kaiserslautern     3
1. FC Köln               3
1. FC Magdeburg          3
                        ..
Zagłębie Sosnowiec       3
Çaykur Rizespor          3
Örebro SK                3
Östersunds FK            3
Śląsk Wrocław            3
Name: GK, Length: 650, dtype: int64

In [51]:
pivot = df.pivot_table(values='Wage',
                      index="Club",
                      columns='Nationality',
                      aggfunc='sum',
                      fill_value=0)

pivot['Russia'][pivot['Russia'] != 0] #все клубы с ненулевой зп у русских
pivot.loc['AS Monaco']['Russia']

61000

In [75]:
pivot=df.pivot_table(values='SprintSpeed',
                    index='Club',
                    columns='Position',
                    aggfunc='mean',
                    fill_value=None,
                    margins=True)

pivot.loc['All'].sort_values(ascending=False)
#pivot.mean(skipna=True).sort_values(ascending=False)
#pivot[['RB','LM','RM','CF','RS']].
#display(pivot.describe().loc['mean'].sort_values(ascending=False))

Position
RF     76.333333
LAM    76.333333
LF     75.875000
RW     75.417722
RM     74.943864
LW     74.747934
LM     74.211538
RAM    73.800000
RWB    73.128571
LWB    72.833333
LS     72.338843
RS     71.991228
RB     71.186709
LB     70.718563
CF     69.803922
ST     68.700397
CAM    68.236967
LCM    65.334764
RCM    65.233333
CM     64.299906
All    63.205629
RDM    62.152174
LDM    62.006757
CDM    60.813314
LCB    58.936430
RCB    58.239234
CB     57.734854
GK     37.622182
Name: All, dtype: float64

In [55]:
pivot['ST'].sort_values(ascending=False)

Club
Vitória            91.000000
Sydney FC          88.000000
CD Lugo            87.000000
Brøndby IF         84.666667
Leicester City     84.500000
                     ...
Valencia CF              NaN
VfL Bochum 1848          NaN
VfL Wolfsburg            NaN
Waterford FC             NaN
Wigan Athletic           NaN
Name: ST, Length: 650, dtype: float64